<div class="post-preview">

    <p class="post-meta">
        <!-- Date and Author -->
        <% if(item.author) { %>
            Posted by <%- item.author %> on
        <% } %>
        <%= item.date.format(config.date_format) %>
    </p>

    <a href="<%- config.root %><%- item.path %>">
        <h2 class="post-title">
            <%- item.title || theme.default_post_title || "Untitled" %>
        </h2>
        <% if (item.subtitle && item.subtitle.length) { %>
            <h3 class="post-subtitle">
                <%- item.subtitle %>
            </h3>
        <% } %>
    </a>

    <% if (item.categories && item.categories.length) { %>
        <%
            var categories = [];
            item.categories.forEach(function(category){
                categories.push('<a class="cat" href="' + config.root + category.path + '">' + category.name + '</a>');
            });
        %>
    <%- categories.join('/ ') %>
    <% } %>

    <% if (item.tags && item.tags.length) { %>
        <%
            var tags = [];
            item.tags.forEach(function(tag){
                tags.push('<a class="tag" href="' + config.root + tag.path + '">#' + tag.name + '</a>');
            });
        %>
    <%- tags.join(' ') %>
    <% } %>

    <section class="item-excerpt">
        <p>
          <% if (item.excerpt){ %>
            <%- item.excerpt %>
          <% } else { %>
            <%- item.content.replace(/<(?:.|\n)*?>/gm, '').substr(0, 220) %>
            ...
          <% } %>
        </p>
    </section>

</div>
<hr>