<!--
<div class="post-preview">
    <a href="<%- config.root %><%- item.path %>">
        <h1 class="post-title archive">
            <%- item.name || "Untitled" %>
        </h1>
        <sup><%= item.posts.length %></sup>
    </a>
</div>
<hr>
-->

<li>
	<a href="<%- config.root %><%- item.path %>">
		<%- item.name || "Untitled" %>
		<sup><%= item.posts.length %></sup>
	</a>
</li>